.article-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}



.article-content {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

.article-image img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  background-color: #ccc; 
  border-radius: 4px;
}

.article-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article-title {
  font-size: 1.1rem;
  color: #026830; 
  margin: 0;
}

.article-category {
  font-size: 0.9rem;
  color: #999;
  margin: 0.25rem 0 0.5rem;
}

.article-description {
  font-size: 0.9rem;
  color: #333;
  margin-bottom: 1rem;
}

.article-price {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.article-button {
  align-self: start;
  background-color: #a2512f; 
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.article-button:hover {
  background-color: #843e22; 
}
