form {
    display: flex;
    flex-direction: column;
    width: 37.5rem;
    align-items: stretch;
    padding: 1.5rem;
}

form > input, form > select, form > button {
    margin-bottom: 1rem;
}
.small {
    width: 12.5rem;
}
.form-wrapper{
    margin-top: 6.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-wrapper > h1, .form-wrapper > form{
    margin-bottom: 3.125rem;
}

.radio-form-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
}
.delete-offre{
    align-items: center;
}
.delete-offre > h1, .delete-offre > div, .delete-offre > input{
    margin-bottom: 50px;
}